---
import ContentMedia from "./ContentMedia.astro";

---
<ContentMedia  imgSrc="/IMG_20200809_201155.jpg" reverseImg={true}>
  <h2 class="px-4">Featured Item or Service</h2>
  <p class=" px-4 text-2xl">
We are offering a 20% discount on <span class="text-orange-500"><a href="..//Architect/Outdoor">OUTDOOR LIVING</a></span> for the Month of March 2024</p>
<!-- todo check to see if the reference is root absolute -->
<p class="px-4">Pictured here is our standup beach table with bamboo top</p>
</ContentMedia>