---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - BIGCOR  website made with <a href="https://astro.build/"target="_blank" rel="noopener noreferrer">Astro</a>
        <br>Website by <a href = "mailto:web@bigcor.ca?subject = Feedback&body = Message"> BIGCOR WebDev</a>
        <br> Awesome Template by <a href="https://github.com/markteekman"target="_blank" rel="noopener noreferrer">Mark Teekman</a>. with our thanks
      </p>
    </div>
  </section>
</footer>
