---
import TopLayout from './TopLayout.astro'

const { frontmatter } = Astro.props
---

<TopLayout title={frontmatter.title}>
  <div class="container">
    <div class="space-content my-12">
      <slot />
    </div>
  </div>
</TopLayout>
